{
  // ...
  "rules": {
    // Other rules
    "@next/next/no-img-element": "off"
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "next/core-web-vitals"
  ]
}
